<h1>{{selectedItem.name}}</h1>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>Type</td>
      <td>{{ selectedItem.data_type }}</td>
    </tr>
    {{#if selectedItem.app_keys}}
      <tr>
        <td>Usage</td>
        <td>{{ selectedItem.app_keys }}
      </tr>
    {{/if}}
    <tr>
      <td>EverTrue Field Name</td>
      <td>{{ selectedItem.name}}</td>
    </tr>

  </tbody>
</table>
