$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  font-size: 18px;
}

.side-nav .panel {
  margin-top: 15px;
  max-height: 700px;
  overflow-y: scroll;
  border: 1px solid #333;
}

.item-header {
  font-weight: bold;
  text-decoration: underline;
}

.group-property {
  cursor: pointer;
}

.group-property:hover {
  text-decoration: underline;
}
