$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'side-nav';

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

td {
  width: 50%;
}
